.professionalExperience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 1rem 0;
}

.professionalExperience li {
    margin-bottom: 1.5rem;
}

.professionalExperience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.professionalExperience li .period::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('assets/imgs/icons/calendar.svg');
    margin-right: .5rem;
}

@media only screen and (max-width: 393px) {
    .professionalExperience li .period {
        font-size: 1rem;
    }

    .professionalExperience li .period::before {
        width: 1.2rem;
        height: 1.2rem;
    }
}